.cancel{
        font-family: Segoe UI, Helvetica, sans-serif;
        width: 60px;
        height: 30px;
        background-color: #f61919;
        color: white;
        border: 0px;
}
.add-per{
        font-family: Segoe UI, Helvetica, sans-serif;
        /*width: 120px;*/
        /*height: 50px;*/
        padding: 10px 30px 10px 30px;
        border-radius: 30px;
        background-color: #3CB740;
        color: white;
        margin-right:640px;
        border: 0px;
}
/*.sam-lin{*/
/*        width: 900px;*/
/*        background-color: #f61919;*/
/*        display: inline-block;*/
/*}*/


/*.sub-con{*/
/*    margin: 20px;*/
/*    width: 960px;*/
/*    height: 560px;*/
/*    border-radius: 30px;*/
/*    background-color: #262F48;*/
/*}*/

/*hr{*/
/*    background-color: white;*/
/*    width: 960px;*/
/*    margin-top: 60px;*/

/*}*/

/*.tr-user {*/
/*    height: 60px;*/
/*}*/

/*.t-user {*/
/*    width: 600px;*/
/*    margin-right: 160px;*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*}*/

/*.tab-con {*/
/*    background-color: #61dafb;*/
/*    overflow: hidden;*/
/*    margin: 30px;*/
/*    width: 900px;*/
/*}*/

/*.button-save {*/
/*    font-family: Segoe UI, Helvetica, sans-serif;*/
/*    width: 120px;*/
/*    height: 50px;*/
/*    border-radius: 30px;*/
/*    background-color: #6D34FF;*/
/*    color: white;*/
/*    margin: 30px 630px 30px;*/
/*    border: 0px;*/
/*}*/