* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

html, body {
    height: 100vh;
    background-color: #262F48;
}

body {
    font-family:Segoe UI, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

.main {
    display: flex;
    height: 100vh;
}

.container {
    margin: 60px 10px 0px 10px;
    width: 996px;
    flex-shrink: 0;
    background-color: #18243A;
    height: 595px;
}


/*.sub-container {*/
/*    padding: 20px 20px 20px 20px;*/
/*    margin: 5px 5px 5px 5px;*/
/*    width: auto;*/
/*    border-radius: 25px;*/
/*    alignment: center;*/
/*    flex-shrink: 0;*/
/*    background-color: #262F48;*/
/*    height: 540px;*/
/*    overflow: auto;*/
/*}*/

.img {
    /*margin-right: -10px;*/
    width: 40px;
    height: 40px;
    margin:10px 50px 10px 10px;
    top: 0;
    right: 0;
    position: absolute;
}

h4{
    font-family: Amiri;
    top: 0;
    right: 0;
    position: absolute;
    margin:13px 110px 10px 10px;
    font-size: 22px;
    color: orange;
}

/*.sub-con {*/
/*    padding-top: 30px;*/
/*    padding-left: 30px;*/
/*    padding-bottom: 25px;*/
/*    margin: 20px;*/
/*    width: 960px;*/
/*    height: 560px;*/
/*    border-radius: 30px;*/
/*    background-color: #262F48;*/
/*    !*overflow: auto;*!*/


/*}*/

/*hr {*/
/*    color: white;*/
/*    width: 960px;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.title {*/

/*    margin-right: 30px;*/
/*    color: white;*/
/*    font-weight: 370;*/
/*    font-size: 19px;*/

/*}*/

